from datetime import date
snippet wlog "Insert work log heading
*******************************************************************************
Work Log
date.today().strftime("%b %d, %Y")
-------------------------------------------------------------------------------
endsnippet

